{% extends "web/base.html" %}

{% load static %}

<html>



        <body class="body">

        {% block header1 %}
                

        {% endblock header1 %}

        {% block content %}

            <h2 class="h2">
                <div class="img">
                    <img src="{% static 'templates/MINGYU7.jpg' %}" alt="mingyuimage" class="centre" id="imgaboutme"> 
                </div>
                
                <div class="shape">
                    <span id="p">
                        Hello everyone, thank you so much for visiting my page. 
                        <ul></ul>
                        I’m Kaysa Syifa Wijdan Amin. I’m 19 years old.
                        <ul></ul>
                        I study Computer Science at the University of Indonesia. 
                        <ul></ul>
                        In the future, I will post my work, my project, and my accomplishment here.
                        <ul></ul>
                        Please wait for it!!
                    </span>
                </div>
                
            </h2>

        {% endblock content %}

        {% block header3 %}
        
        {% endblock header3 %}
  

            </h4>
                {% block footer1 %}
            


                {% endblock footer1 %}
            </h4>
        </body>

    </html>

    