{% load static %}

<html>
    <head>
        <title>{{title}}</title>
    
        {% include "snippets/styles.html" %}

        
    </head>


        <body class="body">

            {% block header1 %}

            <h1 class="h1">
                <a href="file:///C:/Users/Kaysa%20Syifa/Documents/CS%20UI%20(3)/PERANCANGAN%20DAN%20PEMROGRAMAN%20WEB/MINGGU%20KE%203/Website%20Kaysa/HOME1.html"><span id="span">KAYSA SWA</span></a>
                <ul></ul>
                    <a href="file:///C:/Users/Kaysa%20Syifa/Documents/CS%20UI%20(3)/PERANCANGAN%20DAN%20PEMROGRAMAN%20WEB/MINGGU%20KE%203/Website%20Kaysa/HOME1.html">
                    
                    <button id="buttonpink" type="button" class="btn btn-secondary">HOME</button></a>
    
                    <a href="file:///C:/Users/Kaysa%20Syifa/Documents/CS%20UI%20(3)/PERANCANGAN%20DAN%20PEMROGRAMAN%20WEB/MINGGU%20KE%203/Website%20Kaysa/ABOUT ME1.html">
                    <button id="buttonorange" type="button" class="btn btn-secondary">ABOUT ME</button></a>
    
                    <a href="file:///C:/Users/Kaysa%20Syifa/Documents/CS%20UI%20(3)/PERANCANGAN%20DAN%20PEMROGRAMAN%20WEB/MINGGU%20KE%203/Website%20Kaysa/EDUCATIONS1.html">
                    <button id="buttonpink" type="button" class="btn btn-secondary">EDUCATIONS</button></a>
    
                    <a href="file:///C:/Users/Kaysa%20Syifa/Documents/CS%20UI%20(3)/PERANCANGAN%20DAN%20PEMROGRAMAN%20WEB/MINGGU%20KE%203/Website%20Kaysa/EXPERIENCES1.html">
                    <button id="buttonorange" type="button" class="btn btn-secondary">EXPERIENCES</button></a>
    
                    <a href="file:///C:/Users/Kaysa%20Syifa/Documents/CS%20UI%20(3)/PERANCANGAN%20DAN%20PEMROGRAMAN%20WEB/MINGGU%20KE%203/Website%20Kaysa/CONTACT1.html">
                    <button id="buttonpink" type="button" class="btn btn-secondary">CONTACT</button></a>
            </h1>

            {% endblock header1 %}
    
            {% block content %}

            {% endblock content %}

        {% block header3 %}

            <h3 class="h3">FIND ME HERE
                    <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                        <div class="center">
                            <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                                <i class="fab fa-instagram" id="link2"></i></a>
            
                                <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                                <i class="fab fa-linkedin"  id="link1"></i></a>
                                
                                <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                                <i class="fas fa-envelope" id="link1"></i></a>
                                
                                <i class="fab fa-line" id="link1"></i>
                        </div>
            </h3>

        {% endblock header3 %}
  

            </h4>
                {% block footer1 %}

                    <div class="center">
                        <i class="far fa-copyright" id="copyright"></i><span id="span">KAYSASWA</span>
                    </div>

                {% endblock footer1 %}
            </h4>
        </body>
    </html>