{% extends "web/base.html" %}

{% load static %}

<html>
    


    <body class="body">
        
        {% block header1 %}


        {% endblock header1 %}
        
        {% block header3 %}
    
            <h2 class="h2contact">FIND ME HERE
                <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                <div class="center">
                    <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                        <i class="fab fa-instagram" id="link2"></i></a>

                        <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                        <i class="fab fa-linkedin"  id="link1"></i></a>
                        
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                        <i class="fas fa-envelope" id="link1"></i></a>
                        
                        <i class="fab fa-line" id="link1"></i>
                </div>
            </h2>

        {% endblock header3 %}
  

            </h3>
                {% block footer1 %}
            

                {% endblock footer1 %}

            </h3>
        </body>
    </html>
