{% extends "web/base.html" %}

{% load static %}


<html>
   


 <body class="body">
  
    {% block header1 %}

    

    {% endblock header1 %}
              
    
   
        <h2>
            <table class="tableed">
                <tr>
                    <td id="tded"><font id="span">University of Indonesia</td></font>
                    <td id="tded"><font id="span">2019 - Present</td></font>
                </tr>
                <tr>
                    <td id="tded"><font id="span">86 HighSchool Jakarta</td></font>
                    <td id="tded"><font id="span">2016 - 2019</td></font>
                </tr>
                <tr>
                    <td id="tded"><font id="span">177 MiddleSchool Jakarta</td></font>
                    <td id="tded"><font id="span">2013 - 2016</td></font>
                </tr>
            </table>
        </h2>
        
        {% block header3 %}
        
        {% endblock header3 %}
  

            </h4>
                 {% block footer1 %}
            


                {% endblock footer1 %}

            </h4>
   

    </body>
</html>