{% extends "web/base.html" %}

{% load static %}


<html>
  
    
 <body class="body">
    
    {% block header1 %}
        

    {% endblock header1 %}
              

        <h2>
            <table id="tableex" class="img">
                <tr>
                    <td id="td"> 
                        <img src="{% static 'templates/perak.jpg' %}" alt="perakimage" class="centre"  id="imgex">
                        <span id="spantable"> Staff of Sponsorship </span>
                    </td>
                    <td id="td">
                        <img src="{% static 'templates/compfest.jpg' %}" alt="compfestimage" class="centre" id="imgex">
                        <span id="spantable">Staff of Data Science Academy</span></td>
                </tr>

                <ul></ul>
                
                <tr>
                    <td id="td"> 
                        <img src="{% static 'templates/dpm.jpg' %}" alt="dpmimage" class="centre" id="imgex" >
                        <span id="spantable">Staff of Human Resources</span></td>
                    <td id="td">
                        <img src="{% static 'templates/siwakng.jpg' %}" alt="siwakngimage" class="centre" id="imgex" >
                        <span id="spantable">Staff of Human Resources</span></td>
                </tr>
                
            </table>

        </h2>
        
       
        {% block header3 %}


        {% endblock header3 %}
        
  

            </h4>

                {% block footer1 %}
                

                {% block footer1 %}
                
            </h4>
   </body>
   </html>