{% extends "web/base.html" %}

{% load static %}

<html>

<body class="body">

    {% block header1 %}

            <h1 class="h1hello">HELLO,</h1>
            
            <h1 class="h1kay">I'M KAYSA</h1>
            
            <h1>
                <a href="file:///C:/Users/Kaysa%20Syifa/Documents/CS%20UI%20(3)/PERANCANGAN%20DAN%20PEMROGRAMAN%20WEB/MINGGU%20KE%203/Website%20Kaysa/HOME1.html">
                <button id="buttonhomepink" type="button" class="btn btn-secondary">HOME</button></a>
                <a href="file:///C:/Users/Kaysa%20Syifa/Documents/CS%20UI%20(3)/PERANCANGAN%20DAN%20PEMROGRAMAN%20WEB/MINGGU%20KE%203/Website%20Kaysa/ABOUT ME1.html">
                <button id="buttonhomeorange" type="button" class="btn btn-secondary">ABOUT ME</button></a>
                <a href="file:///C:/Users/Kaysa%20Syifa/Documents/CS%20UI%20(3)/PERANCANGAN%20DAN%20PEMROGRAMAN%20WEB/MINGGU%20KE%203/Website%20Kaysa/EDUCATIONS1.html">
                <button id="buttonhomepink2" type="button" class="btn btn-secondary">EDUCATIONS</button></a>
                <a href="file:///C:/Users/Kaysa%20Syifa/Documents/CS%20UI%20(3)/PERANCANGAN%20DAN%20PEMROGRAMAN%20WEB/MINGGU%20KE%203/Website%20Kaysa/EXPERIENCES1.html">
                <button id="buttonhomeorange2" type="button" class="btn btn-secondary">EXPERIENCES</button></a>
                <a href="file:///C:/Users/Kaysa%20Syifa/Documents/CS%20UI%20(3)/PERANCANGAN%20DAN%20PEMROGRAMAN%20WEB/MINGGU%20KE%203/Website%20Kaysa/CONTACT1.html">
                <button id="buttonhomepink3" type="button" class="btn btn-secondary">CONTACT</button></a>
            </h1>

    {% endblock header1 %}
    
        {% block header3 %}
        
            <h2 class="h2home">FIND ME HERE
                <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                <div class="center">
                    <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                        <i class="fab fa-instagram" id="link2"></i></a>
    
                        <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                        <i class="fab fa-linkedin"  id="link1"></i></a>
                        
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                        <i class="fas fa-envelope" id="link1"></i></a>
                        
                        <i class="fab fa-line" id="link1"></i>
                </div>
            </h2>

        {% endblock header3 %}

            </h3>
                {% block footer1 %}
            

                {% endblock footer1 %}
            </h3>
        </body>
   
</html>
        